<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.js"></script>
  <script src="/javascripts/scripts.js"></script>
</head>
<body>
  <div data-role="page" id="page-contract">

    <div data-role="header" data-position="fixed">
      <h1>{{title}}</h1>
      {{#if contract.id}}
      <button id="button-contracts" class="ui-btn-left ui-btn ui-btn-inline ui-btn-icon-left ui-icon-carat-l">Contracts</button>
      {{else}}
      <button id="button-cancel" class="ui-btn-left ui-btn ui-btn-inline ui-btn-icon-left ui-icon-delete">Cancel</button>
      {{/if}}
      <button id="button-contract-save" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-btn-icon-right ui-icon-check">Save</button>
    </div>

    <div data-role="content">
      <form id="form-contract" data-ajax="false" action="/{{contract.id}}" method="POST">
        <div class="ui-field-contain">
          <label for="name"><strong>Name</strong></label>
          <input type="text" name="name" id="name" value="{{contract.name}}">
        </div>

        <div class="ui-field-contain">
          <label for="contractNumber"><strong>Contract Number</strong></label>
          <input type="text" name="contractNumber" id="contractNumber" value="{{contract.contractNumber}}">
        </div>

        <div class="ui-field-contain">
          <label for="valueAmount"><strong>Value</strong></label>
          <input type="text" name="valueAmount" id="valueAmount" value="{{contract.valueAmount}}">
        </div>

        <div class="ui-field-contain">
          <label for="statusType"><strong>Status</strong></label>
          <select name="statusType" id="statusType" data-native-menu="false">
            {{#each statusTypes}}
            <option value="{{this.id}}" {{#selected this.id}} selected {{/selected}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </form>

      {{#if contract.id}}
      <button id="button-contract-delete" class="ui-btn ui-btn-b ui-btn-icon-left ui-icon-delete">Delete</button>
      {{/if}}
    </div>

  </div>
</body>
</html>


