<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.js"></script>
  <script src="/javascripts/scripts.js"></script>
</head>
<body>
  <div data-role="page" id="page-index">

    <div data-role="header" data-position="fixed">
      <h1>{{title}}</h1>
      <a href="/" data-ajax="false" class="ui-btn-left ui-btn ui-btn-inline ui-btn-icon-left ui-icon-refresh">Refresh</a>
      <a href="/new" data-transition="slideup" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-btn-icon-right ui-icon-plus">New</a>
    </div>

    <div data-role="content">

      {{#if filter}}
      <form class="ui-filterable">
        <input id="contracts-filter" data-type="search">
      </form>
      {{/if}}

      <ul data-role="listview" data-filter="true" data-input="#contracts-filter">
        {{#each contracts}}
        <li><a href="/{{this.id}}" data-transition="slide">{{this.name}}</a></li>
        {{else}}
        <li>No contracts</li>
        {{/each}}
      </ul>
    </div>

  </div>
</body>
</html>


